@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your template's custom CSS (Bootstrap-like utility classes etc.) */
@import "../Style/style.css";

html {
  scroll-behavior: smooth;
}

section {
  @apply py-20;
}

.slick-dots {
  color: #1A21BC;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1A21BC !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}